<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Honsan - Member List</title>
  <link rel="shortcut icon" href="/assets/media/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
</head>
<body>
  <img src='/assets/media/banner.png' alt='A Banner Ad (eventually)' id='banner-ad'>
  <ul id='navbar'>
    <li><a href='/'>New Entry</a></li>
    <li><a href='/add_member'>Add Member</a></li>
    <li><a href='/catalogue'>Catalog</a></li>
    <li><a href='/member_list' class='navbar-selected'>Member List</a></li>
    <li><a href='/logout'>Log Out</a></li>
  </ul>
  <div id='content'>
    <div id='member-list-container'>
      {{#each members}}
        <div class='list-member'>
          <h2><a href='/member?id={{this.member_id}}'>{{this.first_name}} {{this.last_name}}</a></h2>
          <p><b>Email:</b> {{this.email}}</p>
          <p><b>Cards:</b>
            {{#each this.cards}}
              {{this}}{{#if @last}}{{else}}, {{/if}}
            {{else}}
              No cards (somehow...)
            {{/each}}
          </p>
        </div>
      {{else}}
        <h2>No members.</h2>
      {{/each}}
    </div>
  </div>
</body>
</html>